# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
*.log
*.sqlite
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Build artifacts
dist/
build/
*.spec

# PyInstaller
*.manifest
*.spec

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
explanation-app/build/
.DS_Store
